n8n/workflows/stratos-telegram-bot-v3-asesor.json
{
  "name": "Stratos AI \u2014 Telegram CRM Bot v3 (Asesor)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Stratos Bot Token"
        }
      },
      "webhookId": "stratos-telegram-bot-v3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "id": "switch-message-type",
      "name": "Switch by message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "telegram-get-voice",
      "name": "Download voice file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Stratos Bot Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "openai-whisper",
      "name": "Whisper transcribe (es)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        920,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI Stratos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "user_message",
              "value": "={{ $json.text || $json.message?.text || $json.message?.caption || '[mensaje sin texto]' }}",
              "type": "string"
            },
            {
              "id": "chat",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "tg_user",
              "name": "telegram_user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "name",
              "name": "telegram_first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || '' }}",
              "type": "string"
            },
            {
              "id": "type",
              "name": "message_type",
              "value": "={{ $('Telegram Trigger').item.json.message.voice ? 'voice' : ($('Telegram Trigger').item.json.message.photo ? 'photo' : 'text') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-context",
      "name": "Normalize context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/identify_asesor_by_telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $json.chat_id }}\n}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "identify-asesor",
      "name": "Identify asesor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje recibido en Telegram:\n\"{{ $('Normalize context').item.json.user_message }}\"\n\nDatos del Telegram:\n- chat_id: {{ $('Normalize context').item.json.chat_id }}\n- nombre Telegram: {{ $('Normalize context').item.json.telegram_first_name }}\n- tipo: {{ $('Normalize context').item.json.message_type }}\n\nIdentificaci\u00f3n del asesor (resultado de identify_asesor_by_telegram):\n{{ JSON.stringify($json) }}\n\nProcesa seg\u00fan las reglas del system message.",
        "options": {
          "systemMessage": "=Eres Stratos, el asistente CRM por Telegram para asesores inmobiliarios. Tu \u00fanico usuario es el asesor que tiene este chat conectado a su cuenta. Tu trabajo: registrar clientes, anotar seguimientos, consultar fichas, recordarle pendientes \u2014 todo por chat, en segundos.\n\n## Identidad del asesor en este chat\n\nLa tool identify_asesor_by_telegram ya se ejecut\u00f3. Su resultado viene en el contexto del prompt como JSON. Estructura esperada:\n- Si paired=true: { paired:true, profile_id, name, role, organization_id }\n- Si paired=false: { paired:false } o { paired:false, reason:'inactive' }\n\nNunca le preguntes al asesor c\u00f3mo se llama, en qu\u00e9 organizaci\u00f3n est\u00e1, ni a qu\u00e9 asesor asignar un lead que \u00e9l mismo registra \u2014 el lead se asigna a \u00e9l autom\u00e1ticamente v\u00eda las tools del bot.\n\n## Reglas de voz (sin excepci\u00f3n)\n\n1. Sin emojis. Ni \ud83d\udd25 ni \u2705 ni \ud83d\udcde. Solo iconos tipogr\u00e1ficos: \u00b7 \u25b8 \u2192 \u2500 \u25c6 \u2022\n2. Pocas palabras. Una idea por l\u00ednea. Confirmaciones de una palabra: 'Registrado.', 'Actualizado.', 'Listo.'. Sin '\u00a1Perfecto!', '\u00a1Genial!', 'claro que s\u00ed'.\n3. Tono humano, casual, profesional. Trata de t\u00fa. Sin formalidades rob\u00f3ticas. Sin chistes. Como un colega eficiente.\n4. Sin Markdown ni HTML. Solo texto plano y los iconos tipogr\u00e1ficos de arriba.\n\n## Regla de oro: confirmar antes de escribir\n\nCualquier escritura (bot_upsert_lead, bot_add_seguimiento) se hace en dos pasos:\n1. Refleja lo que entendiste, estructurado con bullets \u00b7\n2. Espera 's\u00ed' / 'ok' / correcci\u00f3n. Si corrige, vuelve a confirmar todo.\n3. Solo despu\u00e9s llamas la tool de escritura.\n\nConsultas (bot_get_lead_by_phone, bot_list_pending) NO requieren confirmaci\u00f3n \u2014 se ejecutan directo.\n\n## El tel\u00e9fono es la llave \u00fanica\n\nTodo cliente se identifica por su tel\u00e9fono. Si el asesor menciona un cliente sin tel\u00e9fono ('c\u00f3mo va Mar\u00eda'), p\u00eddele el tel\u00e9fono. Sin tel\u00e9fono no hay ficha.\n\nEl bot guarda solo d\u00edgitos. Cuando muestres tel\u00e9fono al asesor, form\u00e1tealo como '555 123 4567'. Cuando lo pases a una tool, pasa el original \u2014 la tool lo normaliza.\n\n## Etapas can\u00f3nicas del pipeline\n\nSolo estos valores en el campo stage:\nNuevo Registro, Primer Contacto, Seguimiento, Zoom Agendado, Zoom Concretado, Visita Agendada, Visita Concretada, Negociaci\u00f3n, Cierre, Perdido.\n\nSi el asesor dice 'pasa a Zoom' interpreta 'Zoom Agendado'. Si dice 'ya tuve el Zoom', 'Zoom Concretado'. Si hay duda, pregunta.\n\n## Tools disponibles\n\n- consume_telegram_pairing_code \u2192 cuando el mensaje es '/conectar XXXXXXXX' o '/start XXXXXXXX' (8 d\u00edgitos, ambos comandos hacen lo mismo \u2014 el segundo viene del deep link del web). Pasa code y el chat_id.\n- bot_get_lead_by_phone \u2192 asesor pregunta por un cliente ('datos de 555-1234').\n- bot_upsert_lead \u2192 registra cliente nuevo o actualiza datos.\n- bot_add_seguimiento \u2192 asesor reporta una interacci\u00f3n ('llam\u00e9 a Juan, no contest\u00f3').\n- bot_list_pending \u2192 asesor pide su agenda ('qu\u00e9 tengo hoy').\n\n## Detecci\u00f3n de tipo de seguimiento\n\nVerbo del asesor \u2192 tipo:\n- 'llam\u00e9', 'marqu\u00e9' \u2192 llamada\n- 'WhatsApp', 'le escrib\u00ed' \u2192 whatsapp\n- 'le mand\u00e9 correo', 'email' \u2192 email\n- 'Zoom con', 'videollamada' \u2192 zoom\n- 'fui a verlo', 'visita' \u2192 visita\n- 'anot\u00e9', 'nota' \u2192 nota\n\nSi no queda claro, usa nota.\n\n## Si el asesor NO est\u00e1 pareado (paired=false)\n\nSi el mensaje empieza con '/conectar ' o '/start ' seguido de 8 d\u00edgitos: llama consume_telegram_pairing_code con el c\u00f3digo y el chat_id (ambos comandos hacen lo mismo, el segundo viene del deep link del web). Si success=true responde 'Conectado, [name]. Ya puedes usarme.'. Si error responde 'C\u00f3digo inv\u00e1lido o vencido. Genera uno nuevo desde el web.'.\n\nSi el mensaje NO es /conectar y paired=false, responde EXACTAMENTE:\n\nNo te tengo registrado.\n\nY no llames ninguna tool m\u00e1s. Termina ah\u00ed.\n\n## Pr\u00f3xima acci\u00f3n y fechas\n\nCuando registres o actualices, intenta capturar la pr\u00f3xima acci\u00f3n.\n- 'Llamarlo el viernes 11am' \u2192 next_action='Llamar', next_action_at='2026-05-02T11:00:00-05:00'\n- Zona: America/Cancun (UTC-5, sin horario de verano).\n- Hoy es {{ $now.toISO() }}.\n- Si la fecha es ambigua, pregunta.\n\n## Datos parciales\n\nSi el asesor da info incompleta ('nuevo Marco 555-1234'), reg\u00edstralo con lo que hay. Al confirmar dile lo que falta:\n\nRegistrado.\nFalta: presupuesto, proyecto.\n\nNo bloquees pidiendo todo.\n\n## Cuando la tool devuelve error\n\n- error: 'lead_assigned_to_other_asesor' \u2192\n  'Ese cliente ya est\u00e1 asignado a otro asesor.\n  Si crees que es un error, p\u00eddele a un director que lo reasigne desde el web.'\n  (No reveles el nombre del otro asesor.)\n\n- bot_get_lead_by_phone \u2192 found:false \u2192 'No encontr\u00e9 ese cliente. Verifica el tel\u00e9fono.'\n\n- error de timeout/red \u2192 'Servicio temporalmente lento. Intenta en un minuto.'\n\nNo inventes confirmaciones. Si la tool fall\u00f3, no digas 'registrado'.\n\n## Lo que NO haces\n\n- No agendas Zoom ni Calendar.\n- No env\u00edas mensajes al cliente final.\n- No reasignas leads.\n- No borras leads.\n- No respondes preguntas no relacionadas al CRM. Responde: 'No es lo m\u00edo. Preg\u00fantame del CRM.'\n\n## Ejemplos\n\nEjemplo 1 \u2014 registro nuevo:\nAsesor: Nuevo lead Marco Gonz\u00e1lez 555-1234, Tulum, 500K, vino por Facebook\nBot: Voy a registrar\n\u00b7 Marco Gonz\u00e1lez\n\u00b7 555 123 4567\n\u00b7 Tulum  \u00b7  500,000 USD\n\u00b7 Facebook\n\u00b7 Etapa Primer Contacto\n\u00bfConfirmas?\nAsesor: s\u00ed\nBot: Registrado.\nFalta: email, pr\u00f3xima acci\u00f3n.\n\nEjemplo 2 \u2014 seguimiento:\nAsesor: Llam\u00e9 a Juan 555-9876, no contest\u00f3. Reagendar ma\u00f1ana 11am\nBot: Voy a registrar en Juan (555 987 6543)\n\u00b7 Seguimiento: llamada \u2014 no contest\u00f3\n\u00b7 Pr\u00f3xima acci\u00f3n: Llamar ma\u00f1ana 11:00\n\u00bfConfirmas?\nAsesor: ok\nBot: Listo. Seguimientos de Juan: 4.\n\nEjemplo 3 \u2014 consulta:\nAsesor: c\u00f3mo va Mar\u00eda 555-3210\nBot: Mar\u00eda L\u00f3pez \u2014 555 321 0987\n\u00b7 Etapa Zoom Agendado\n\u00b7 Score 75  \u00b7  caliente\n\u00b7 Presupuesto 350,000 USD\n\u00b7 Proyecto Torre 25\n\u00b7 6 seguimientos  \u00b7  \u00faltima hace 2 d\u00edas\n\u00b7 Pr\u00f3xima acci\u00f3n: Confirmar Zoom \u2014 viernes 10:00"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (Claude Sonnet 4.5)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5",
          "mode": "list"
        },
        "options": {
          "temperature": 0.2,
          "maxTokensToSample": 800
        }
      },
      "id": "anthropic-model",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1500,
        480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic Stratos"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize context').item.json.telegram_user_id }}",
        "contextWindowLength": 12
      },
      "id": "memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1660,
        480
      ]
    },
    {
      "parameters": {
        "name": "consume_telegram_pairing_code",
        "description": "Pareo inicial del asesor. Llama esta tool cuando el mensaje del asesor es '/conectar XXXXXXXX' o '/start XXXXXXXX' (8 d\u00edgitos, ambos comandos sirven \u2014 el segundo viene del deep link generado por el web). Devuelve success:true con el nombre del asesor si el c\u00f3digo es v\u00e1lido, o error:'invalid_or_expired_code' si no.",
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/consume_telegram_pairing_code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_code\": \"{code}\",\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "code",
              "description": "C\u00f3digo de 8 d\u00edgitos que el asesor envi\u00f3 (ej: '48291734')",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-consume-code",
      "name": "Tool: consume_telegram_pairing_code",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1820,
        480
      ]
    },
    {
      "parameters": {
        "name": "bot_get_lead_by_phone",
        "description": "Devuelve la ficha completa de un cliente del asesor. Llama cuando el asesor pregunta por un cliente: 'datos de 555-1234', 'c\u00f3mo va Juan tel\u00e9fono X', 'ficha de Mar\u00eda 555-9876'. Devuelve {found:true, lead:{...}} o {found:false}. Si found:false, responde al asesor 'No encontr\u00e9 ese cliente. Verifica el tel\u00e9fono.'",
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/bot_get_lead_by_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "phone",
              "description": "Tel\u00e9fono tal cual lo escribi\u00f3 el asesor \u2014 la BD normaliza",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-get-lead",
      "name": "Tool: bot_get_lead_by_phone",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1980,
        480
      ]
    },
    {
      "parameters": {
        "name": "bot_upsert_lead",
        "description": "Crea un lead nuevo o actualiza uno existente. Idempotente por tel\u00e9fono+organizaci\u00f3n. SIEMPRE confirma con el asesor antes de llamar esta tool. Si el lead pertenece a otro asesor, devuelve error:'lead_assigned_to_other_asesor'. Pasa solo los campos que el asesor mencion\u00f3 \u2014 los dem\u00e1s se quedan iguales (en update) o usan defaults (en create).",
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/bot_upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\",\n  \"p_name\": \"{name}\",\n  \"p_email\": \"{email}\",\n  \"p_stage\": \"{stage}\",\n  \"p_budget_text\": \"{budget_text}\",\n  \"p_budget_numeric\": {budget_numeric},\n  \"p_project\": \"{project}\",\n  \"p_campaign\": \"{campaign}\",\n  \"p_bio\": \"{bio}\",\n  \"p_score\": {score},\n  \"p_hot\": {hot},\n  \"p_next_action\": \"{next_action}\",\n  \"p_next_action_at\": \"{next_action_at}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "phone",
              "description": "Tel\u00e9fono del cliente (formato libre, la BD normaliza). REQUERIDO.",
              "type": "string"
            },
            {
              "name": "name",
              "description": "Nombre completo o 'null' si no se sabe",
              "type": "string"
            },
            {
              "name": "email",
              "description": "Email o 'null'",
              "type": "string"
            },
            {
              "name": "stage",
              "description": "Etapa can\u00f3nica del pipeline o 'null' para mantener la actual",
              "type": "string"
            },
            {
              "name": "budget_text",
              "description": "Presupuesto como texto (ej: '500K USD') o 'null'",
              "type": "string"
            },
            {
              "name": "budget_numeric",
              "description": "Presupuesto en USD como n\u00famero entero, o 'null'",
              "type": "number"
            },
            {
              "name": "project",
              "description": "Proyecto de inter\u00e9s o 'null'",
              "type": "string"
            },
            {
              "name": "campaign",
              "description": "Origen del lead (Facebook, Referido, etc.) o 'null'",
              "type": "string"
            },
            {
              "name": "bio",
              "description": "Bio breve del cliente (1-2 frases) o 'null'",
              "type": "string"
            },
            {
              "name": "score",
              "description": "Score 0-100 estimado por el asesor o por ti, o 'null'",
              "type": "number"
            },
            {
              "name": "hot",
              "description": "true si es hot lead, false si no, o 'null' para no cambiar",
              "type": "boolean"
            },
            {
              "name": "next_action",
              "description": "Texto corto de la pr\u00f3xima acci\u00f3n ('Llamar', 'Confirmar Zoom') o 'null'",
              "type": "string"
            },
            {
              "name": "next_action_at",
              "description": "Fecha-hora ISO 8601 con offset (ej: '2026-05-02T11:00:00-05:00') o 'null'",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-upsert-lead",
      "name": "Tool: bot_upsert_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2140,
        480
      ]
    },
    {
      "parameters": {
        "name": "bot_add_seguimiento",
        "description": "Registra una interacci\u00f3n del asesor con un cliente. Incrementa el contador de seguimientos y agrega la nota timestamped. SIEMPRE confirma con el asesor antes de llamar. El tipo se infiere del verbo (llamada/whatsapp/email/zoom/visita/nota).",
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/bot_add_seguimiento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\",\n  \"p_tipo\": \"{tipo}\",\n  \"p_resumen\": \"{resumen}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "phone",
              "description": "Tel\u00e9fono del cliente. REQUERIDO.",
              "type": "string"
            },
            {
              "name": "tipo",
              "description": "Uno de: llamada, whatsapp, email, zoom, visita, nota",
              "type": "string"
            },
            {
              "name": "resumen",
              "description": "Resumen breve de la interacci\u00f3n ('cliente pidi\u00f3 cotizaci\u00f3n', 'no contest\u00f3', 'mostr\u00f3 inter\u00e9s en penthouse')",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-add-seguimiento",
      "name": "Tool: bot_add_seguimiento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2300,
        480
      ]
    },
    {
      "parameters": {
        "name": "bot_list_pending",
        "description": "Devuelve los leads pendientes del asesor en una ventana de tiempo. Llama cuando el asesor pregunta 'qu\u00e9 tengo hoy', 'mis pendientes', 'qu\u00e9 sigue'. Por defecto la ventana es 24 horas. Devuelve {pending:[{id,name,phone,stage,next_action,next_action_at,hot}, ...]}.",
        "method": "POST",
        "url": "={{ $('Global Config').item.json.SUPABASE_URL }}/rest/v1/rpc/bot_list_pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Global Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_window_hours\": {window_hours}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "window_hours",
              "description": "Ventana en horas. Por defecto 24 (hoy). Usa 168 para 'esta semana'.",
              "type": "number"
            }
          ]
        }
      },
      "id": "tool-list-pending",
      "name": "Tool: bot_list_pending",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2460,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize context').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "send-telegram-response",
      "name": "Reply to user",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Stratos Bot Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "SUPABASE_URL",
              "value": "https://TU_PROYECTO.supabase.co",
              "type": "string"
            },
            {
              "id": "supabase-key",
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "TU_SERVICE_ROLE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        350,
        300
      ],
      "id": "global-config",
      "name": "Global Config"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by message type": {
      "main": [
        [
          {
            "node": "Download voice file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice file": {
      "main": [
        [
          {
            "node": "Whisper transcribe (es)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper transcribe (es)": {
      "main": [
        [
          {
            "node": "Normalize context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize context": {
      "main": [
        [
          {
            "node": "Identify asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify asesor": {
      "main": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consume_telegram_pairing_code": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: bot_get_lead_by_phone": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: bot_upsert_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: bot_add_seguimiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: bot_list_pending": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Claude Sonnet 4.5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Claude Sonnet 4.5)": {
      "main": [
        [
          {
            "node": "Reply to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Config": {
      "main": [
        [
          {
            "node": "Switch by message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": "stratos",
    "templateCreatedBy": "Stratos AI session \u2014 v3 asesor mode"
  }
}