n8n/workflows/stratos-telegram-bot-v3-asesor.json
{
  "name": "Stratos AI — Telegram CRM Bot v3 (Asesor)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Stratos Bot Token"
        }
      },
      "webhookId": "stratos-telegram-bot-v3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "voice",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "photo",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "text" }
      },
      "id": "switch-message-type",
      "name": "Switch by message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "telegram-get-voice",
      "name": "Download voice file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 200],
      "credentials": {
        "telegramApi": { "id": "telegram-bot-creds", "name": "Stratos Bot Token" }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "es" }
      },
      "id": "openai-whisper",
      "name": "Whisper transcribe (es)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [920, 200],
      "credentials": {
        "openAiApi": { "id": "openai-creds", "name": "OpenAI Stratos" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "user_message",
              "value": "={{ $json.text || $json.message?.text || $json.message?.caption || '[mensaje sin texto]' }}",
              "type": "string"
            },
            {
              "id": "chat",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "tg_user",
              "name": "telegram_user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "name",
              "name": "telegram_first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || '' }}",
              "type": "string"
            },
            {
              "id": "type",
              "name": "message_type",
              "value": "={{ $('Telegram Trigger').item.json.message.voice ? 'voice' : ($('Telegram Trigger').item.json.message.photo ? 'photo' : 'text') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-context",
      "name": "Normalize context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/identify_asesor_by_telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $json.chat_id }}\n}",
        "options": { "timeout": 8000 }
      },
      "id": "identify-asesor",
      "name": "Identify asesor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje recibido en Telegram:\n\"{{ $('Normalize context').item.json.user_message }}\"\n\nDatos del Telegram:\n- chat_id: {{ $('Normalize context').item.json.chat_id }}\n- nombre Telegram: {{ $('Normalize context').item.json.telegram_first_name }}\n- tipo: {{ $('Normalize context').item.json.message_type }}\n\nIdentificación del asesor (resultado de identify_asesor_by_telegram):\n{{ JSON.stringify($json) }}\n\nProcesa según las reglas del system message.",
        "options": {
          "systemMessage": "=Eres Stratos, el asistente CRM por Telegram para asesores inmobiliarios. Tu único usuario es el asesor que tiene este chat conectado a su cuenta. Tu trabajo: registrar clientes, anotar seguimientos, consultar fichas, recordarle pendientes — todo por chat, en segundos.\n\n## Identidad del asesor en este chat\n\nLa tool identify_asesor_by_telegram ya se ejecutó. Su resultado viene en el contexto del prompt como JSON. Estructura esperada:\n- Si paired=true: { paired:true, profile_id, name, role, organization_id }\n- Si paired=false: { paired:false } o { paired:false, reason:'inactive' }\n\nNunca le preguntes al asesor cómo se llama, en qué organización está, ni a qué asesor asignar un lead que él mismo registra — el lead se asigna a él automáticamente vía las tools del bot.\n\n## Reglas de voz (sin excepción)\n\n1. Sin emojis. Ni 🔥 ni ✅ ni 📞. Solo iconos tipográficos: · ▸ → ─ ◆ •\n2. Pocas palabras. Una idea por línea. Confirmaciones de una palabra: 'Registrado.', 'Actualizado.', 'Listo.'. Sin '¡Perfecto!', '¡Genial!', 'claro que sí'.\n3. Tono humano, casual, profesional. Trata de tú. Sin formalidades robóticas. Sin chistes. Como un colega eficiente.\n4. Sin Markdown ni HTML. Solo texto plano y los iconos tipográficos de arriba.\n\n## Regla de oro: confirmar antes de escribir\n\nCualquier escritura (bot_upsert_lead, bot_add_seguimiento) se hace en dos pasos:\n1. Refleja lo que entendiste, estructurado con bullets ·\n2. Espera 'sí' / 'ok' / corrección. Si corrige, vuelve a confirmar todo.\n3. Solo después llamas la tool de escritura.\n\nConsultas (bot_get_lead_by_phone, bot_list_pending) NO requieren confirmación — se ejecutan directo.\n\n## El teléfono es la llave única\n\nTodo cliente se identifica por su teléfono. Si el asesor menciona un cliente sin teléfono ('cómo va María'), pídele el teléfono. Sin teléfono no hay ficha.\n\nEl bot guarda solo dígitos. Cuando muestres teléfono al asesor, formátealo como '555 123 4567'. Cuando lo pases a una tool, pasa el original — la tool lo normaliza.\n\n## Etapas canónicas del pipeline\n\nSolo estos valores en el campo stage:\nNuevo Registro, Primer Contacto, Seguimiento, Zoom Agendado, Zoom Concretado, Visita Agendada, Visita Concretada, Negociación, Cierre, Perdido.\n\nSi el asesor dice 'pasa a Zoom' interpreta 'Zoom Agendado'. Si dice 'ya tuve el Zoom', 'Zoom Concretado'. Si hay duda, pregunta.\n\n## Tools disponibles\n\n- consume_telegram_pairing_code → cuando el mensaje es '/conectar XXXXXXXX' o '/start XXXXXXXX' (8 dígitos, ambos comandos hacen lo mismo — el segundo viene del deep link del web). Pasa code y el chat_id.\n- bot_get_lead_by_phone → asesor pregunta por un cliente ('datos de 555-1234').\n- bot_upsert_lead → registra cliente nuevo o actualiza datos.\n- bot_add_seguimiento → asesor reporta una interacción ('llamé a Juan, no contestó').\n- bot_list_pending → asesor pide su agenda ('qué tengo hoy').\n\n## Detección de tipo de seguimiento\n\nVerbo del asesor → tipo:\n- 'llamé', 'marqué' → llamada\n- 'WhatsApp', 'le escribí' → whatsapp\n- 'le mandé correo', 'email' → email\n- 'Zoom con', 'videollamada' → zoom\n- 'fui a verlo', 'visita' → visita\n- 'anoté', 'nota' → nota\n\nSi no queda claro, usa nota.\n\n## Si el asesor NO está pareado (paired=false)\n\nSi el mensaje empieza con '/conectar ' o '/start ' seguido de 8 dígitos: llama consume_telegram_pairing_code con el código y el chat_id (ambos comandos hacen lo mismo, el segundo viene del deep link del web). Si success=true responde 'Conectado, [name]. Ya puedes usarme.'. Si error responde 'Código inválido o vencido. Genera uno nuevo desde el web.'.\n\nSi el mensaje NO es /conectar y paired=false, responde EXACTAMENTE:\n\nNo te tengo registrado.\n\nEntra a app.stratoscapitalgroup.com → Perfil → Conectar Telegram.\nTe dan un código de 8 dígitos. Mándamelo así:\n\n/conectar 12345678\n\nY no llames ninguna tool más. Termina ahí.\n\n## Próxima acción y fechas\n\nCuando registres o actualices, intenta capturar la próxima acción.\n- 'Llamarlo el viernes 11am' → next_action='Llamar', next_action_at='2026-05-02T11:00:00-05:00'\n- Zona: America/Cancun (UTC-5, sin horario de verano).\n- Hoy es {{ $now.toISO() }}.\n- Si la fecha es ambigua, pregunta.\n\n## Datos parciales\n\nSi el asesor da info incompleta ('nuevo Marco 555-1234'), regístralo con lo que hay. Al confirmar dile lo que falta:\n\nRegistrado.\nFalta: presupuesto, proyecto.\n\nNo bloquees pidiendo todo.\n\n## Cuando la tool devuelve error\n\n- error: 'lead_assigned_to_other_asesor' →\n  'Ese cliente ya está asignado a otro asesor.\n  Si crees que es un error, pídele a un director que lo reasigne desde el web.'\n  (No reveles el nombre del otro asesor.)\n\n- bot_get_lead_by_phone → found:false → 'No encontré ese cliente. Verifica el teléfono.'\n\n- error de timeout/red → 'Servicio temporalmente lento. Intenta en un minuto.'\n\nNo inventes confirmaciones. Si la tool falló, no digas 'registrado'.\n\n## Lo que NO haces\n\n- No agendas Zoom ni Calendar.\n- No envías mensajes al cliente final.\n- No reasignas leads.\n- No borras leads.\n- No respondes preguntas no relacionadas al CRM. Responde: 'No es lo mío. Pregúntame del CRM.'\n\n## Ejemplos\n\nEjemplo 1 — registro nuevo:\nAsesor: Nuevo lead Marco González 555-1234, Tulum, 500K, vino por Facebook\nBot: Voy a registrar\n· Marco González\n· 555 123 4567\n· Tulum  ·  500,000 USD\n· Facebook\n· Etapa Primer Contacto\n¿Confirmas?\nAsesor: sí\nBot: Registrado.\nFalta: email, próxima acción.\n\nEjemplo 2 — seguimiento:\nAsesor: Llamé a Juan 555-9876, no contestó. Reagendar mañana 11am\nBot: Voy a registrar en Juan (555 987 6543)\n· Seguimiento: llamada — no contestó\n· Próxima acción: Llamar mañana 11:00\n¿Confirmas?\nAsesor: ok\nBot: Listo. Seguimientos de Juan: 4.\n\nEjemplo 3 — consulta:\nAsesor: cómo va María 555-3210\nBot: María López — 555 321 0987\n· Etapa Zoom Agendado\n· Score 75  ·  caliente\n· Presupuesto 350,000 USD\n· Proyecto Torre 25\n· 6 seguimientos  ·  última hace 2 días\n· Próxima acción: Confirmar Zoom — viernes 10:00"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (Claude Sonnet 4.5)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "claude-sonnet-4-5", "mode": "list" },
        "options": { "temperature": 0.2, "maxTokensToSample": 800 }
      },
      "id": "anthropic-model",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1500, 480],
      "credentials": {
        "anthropicApi": { "id": "anthropic-creds", "name": "Anthropic Stratos" }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize context').item.json.telegram_user_id }}",
        "contextWindowLength": 12
      },
      "id": "memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1660, 480]
    },
    {
      "parameters": {
        "name": "consume_telegram_pairing_code",
        "description": "Pareo inicial del asesor. Llama esta tool cuando el mensaje del asesor es '/conectar XXXXXXXX' o '/start XXXXXXXX' (8 dígitos, ambos comandos sirven — el segundo viene del deep link generado por el web). Devuelve success:true con el nombre del asesor si el código es válido, o error:'invalid_or_expired_code' si no.",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/consume_telegram_pairing_code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_code\": \"{code}\",\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }}\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "code", "description": "Código de 8 dígitos que el asesor envió (ej: '48291734')", "type": "string" }
          ]
        }
      },
      "id": "tool-consume-code",
      "name": "Tool: consume_telegram_pairing_code",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1820, 480]
    },
    {
      "parameters": {
        "name": "bot_get_lead_by_phone",
        "description": "Devuelve la ficha completa de un cliente del asesor. Llama cuando el asesor pregunta por un cliente: 'datos de 555-1234', 'cómo va Juan teléfono X', 'ficha de María 555-9876'. Devuelve {found:true, lead:{...}} o {found:false}. Si found:false, responde al asesor 'No encontré ese cliente. Verifica el teléfono.'",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/bot_get_lead_by_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Teléfono tal cual lo escribió el asesor — la BD normaliza", "type": "string" }
          ]
        }
      },
      "id": "tool-get-lead",
      "name": "Tool: bot_get_lead_by_phone",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1980, 480]
    },
    {
      "parameters": {
        "name": "bot_upsert_lead",
        "description": "Crea un lead nuevo o actualiza uno existente. Idempotente por teléfono+organización. SIEMPRE confirma con el asesor antes de llamar esta tool. Si el lead pertenece a otro asesor, devuelve error:'lead_assigned_to_other_asesor'. Pasa solo los campos que el asesor mencionó — los demás se quedan iguales (en update) o usan defaults (en create).",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/bot_upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\",\n  \"p_name\": \"{name}\",\n  \"p_email\": \"{email}\",\n  \"p_stage\": \"{stage}\",\n  \"p_budget_text\": \"{budget_text}\",\n  \"p_budget_numeric\": {budget_numeric},\n  \"p_project\": \"{project}\",\n  \"p_campaign\": \"{campaign}\",\n  \"p_bio\": \"{bio}\",\n  \"p_score\": {score},\n  \"p_hot\": {hot},\n  \"p_next_action\": \"{next_action}\",\n  \"p_next_action_at\": \"{next_action_at}\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Teléfono del cliente (formato libre, la BD normaliza). REQUERIDO.", "type": "string" },
            { "name": "name", "description": "Nombre completo o 'null' si no se sabe", "type": "string" },
            { "name": "email", "description": "Email o 'null'", "type": "string" },
            { "name": "stage", "description": "Etapa canónica del pipeline o 'null' para mantener la actual", "type": "string" },
            { "name": "budget_text", "description": "Presupuesto como texto (ej: '500K USD') o 'null'", "type": "string" },
            { "name": "budget_numeric", "description": "Presupuesto en USD como número entero, o 'null'", "type": "number" },
            { "name": "project", "description": "Proyecto de interés o 'null'", "type": "string" },
            { "name": "campaign", "description": "Origen del lead (Facebook, Referido, etc.) o 'null'", "type": "string" },
            { "name": "bio", "description": "Bio breve del cliente (1-2 frases) o 'null'", "type": "string" },
            { "name": "score", "description": "Score 0-100 estimado por el asesor o por ti, o 'null'", "type": "number" },
            { "name": "hot", "description": "true si es hot lead, false si no, o 'null' para no cambiar", "type": "boolean" },
            { "name": "next_action", "description": "Texto corto de la próxima acción ('Llamar', 'Confirmar Zoom') o 'null'", "type": "string" },
            { "name": "next_action_at", "description": "Fecha-hora ISO 8601 con offset (ej: '2026-05-02T11:00:00-05:00') o 'null'", "type": "string" }
          ]
        }
      },
      "id": "tool-upsert-lead",
      "name": "Tool: bot_upsert_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2140, 480]
    },
    {
      "parameters": {
        "name": "bot_add_seguimiento",
        "description": "Registra una interacción del asesor con un cliente. Incrementa el contador de seguimientos y agrega la nota timestamped. SIEMPRE confirma con el asesor antes de llamar. El tipo se infiere del verbo (llamada/whatsapp/email/zoom/visita/nota).",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/bot_add_seguimiento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_phone\": \"{phone}\",\n  \"p_tipo\": \"{tipo}\",\n  \"p_resumen\": \"{resumen}\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Teléfono del cliente. REQUERIDO.", "type": "string" },
            { "name": "tipo", "description": "Uno de: llamada, whatsapp, email, zoom, visita, nota", "type": "string" },
            { "name": "resumen", "description": "Resumen breve de la interacción ('cliente pidió cotización', 'no contestó', 'mostró interés en penthouse')", "type": "string" }
          ]
        }
      },
      "id": "tool-add-seguimiento",
      "name": "Tool: bot_add_seguimiento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2300, 480]
    },
    {
      "parameters": {
        "name": "bot_list_pending",
        "description": "Devuelve los leads pendientes del asesor en una ventana de tiempo. Llama cuando el asesor pregunta 'qué tengo hoy', 'mis pendientes', 'qué sigue'. Por defecto la ventana es 24 horas. Devuelve {pending:[{id,name,phone,stage,next_action,next_action_at,hot}, ...]}.",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/bot_list_pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telegram_chat_id\": {{ $('Normalize context').item.json.chat_id }},\n  \"p_window_hours\": {window_hours}\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "window_hours", "description": "Ventana en horas. Por defecto 24 (hoy). Usa 168 para 'esta semana'.", "type": "number" }
          ]
        }
      },
      "id": "tool-list-pending",
      "name": "Tool: bot_list_pending",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2460, 480]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize context').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "send-telegram-response",
      "name": "Reply to user",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2080, 300],
      "credentials": {
        "telegramApi": { "id": "telegram-bot-creds", "name": "Stratos Bot Token" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Switch by message type", "type": "main", "index": 0 }]]
    },
    "Switch by message type": {
      "main": [
        [{ "node": "Download voice file", "type": "main", "index": 0 }],
        [{ "node": "Normalize context", "type": "main", "index": 0 }],
        [{ "node": "Normalize context", "type": "main", "index": 0 }]
      ]
    },
    "Download voice file": {
      "main": [[{ "node": "Whisper transcribe (es)", "type": "main", "index": 0 }]]
    },
    "Whisper transcribe (es)": {
      "main": [[{ "node": "Normalize context", "type": "main", "index": 0 }]]
    },
    "Normalize context": {
      "main": [[{ "node": "Identify asesor", "type": "main", "index": 0 }]]
    },
    "Identify asesor": {
      "main": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Conversation Memory": {
      "ai_memory": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_memory", "index": 0 }]]
    },
    "Tool: consume_telegram_pairing_code": {
      "ai_tool": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: bot_get_lead_by_phone": {
      "ai_tool": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: bot_upsert_lead": {
      "ai_tool": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: bot_add_seguimiento": {
      "ai_tool": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: bot_list_pending": {
      "ai_tool": [[{ "node": "AI Agent (Claude Sonnet 4.5)", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent (Claude Sonnet 4.5)": {
      "main": [[{ "node": "Reply to user", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "instanceId": "stratos",
    "templateCreatedBy": "Stratos AI session — v3 asesor mode"
  }
}
