n8n/workflows/stratos-telegram-bot-MVP.json
{
  "name": "Stratos AI — Bot MVP (30 min setup)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": { "id": "telegram-creds", "name": "Stratos Bot" }
      },
      "webhookId": "stratos-bot-mvp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "user_message", "value": "={{ $json.message.text || '[no texto]' }}", "type": "string" },
            { "id": "2", "name": "chat_id", "value": "={{ $json.message.chat.id }}", "type": "number" },
            { "id": "3", "name": "tg_user_id", "value": "={{ $json.message.from.id }}", "type": "number" },
            { "id": "4", "name": "user_name", "value": "={{ $json.message.from.first_name + ' ' + ($json.message.from.last_name || '') }}", "type": "string" }
          ]
        }
      },
      "id": "ctx",
      "name": "Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,name,phone,stage,score,project,presupuesto,notas,asesor_name" },
            { "name": "telegram_user_id", "value": "=eq.{{ $json.tg_user_id }}" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "id": "lookup",
      "name": "Lookup lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del cliente:\n\"{{ $('Context').item.json.user_message }}\"\n\nCliente Telegram: {{ $('Context').item.json.user_name }}\nID Telegram: {{ $('Context').item.json.tg_user_id }}\n\nLead existente en CRM:\n{{ $json.length > 0 ? JSON.stringify($json[0]) : 'NO — primer contacto, debes crearlo después de recolectar nombre + teléfono' }}\n\nResponde de forma natural y usa las herramientas para guardar la info.",
        "options": {
          "systemMessage": "=Eres el asistente de Stratos Capital Group, CRM inmobiliario en Cancún/Tulum.\n\nTu trabajo es:\n1. CONVERSAR natural (no formularios). Tono profesional pero cálido.\n2. RECOLECTAR: nombre, teléfono, proyecto de interés, presupuesto, urgencia.\n3. CALIFICAR (score 0-100):\n   - Presupuesto específico mencionado: +30\n   - Pidió agendar visita/Zoom: +25\n   - Habla en presente \"estoy buscando\": +15\n   - Específico (zona, m², tipo): +15\n   - Vago \"tal vez\", \"luego veo\": -10\n4. PERSISTIR en el CRM:\n   - Si NO hay lead: usar create_lead apenas tengas nombre y teléfono\n   - Si SI hay lead: usar update_lead con la info nueva\n5. ESCALAR (responde diciéndole \"un asesor te contactará\") cuando:\n   - Cliente lo pide directamente\n   - Score >= 70\n   - Pregunta legal/financiera compleja\n\nPROYECTOS ACTIVOS:\n- Bay View Grand (Cancún)\n- Riviera Maya / Tulum\n- Costa Mujeres (Cancún)\n\nNO inventes precios. Si preguntan, di: \"Un asesor te llamará con la info actualizada hoy mismo\".\n\nResponde en español, máximo 2-3 oraciones por mensaje. Un emoji por mensaje máximo."
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [920, 300]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "claude-sonnet-4-5", "mode": "list" },
        "options": { "temperature": 0.4, "maxTokensToSample": 600 }
      },
      "id": "claude",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [920, 480],
      "credentials": {
        "anthropicApi": { "id": "anthropic-creds", "name": "Anthropic" }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Context').item.json.tg_user_id }}",
        "contextWindowLength": 8
      },
      "id": "memory",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "name": "create_lead",
        "description": "Crea un lead nuevo. Úsalo SOLO cuando es primer contacto (no hay lead existente) Y ya tienes nombre + teléfono.",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{name}\",\n  \"phone\": \"{phone}\",\n  \"stage\": \"Primer Contacto\",\n  \"score\": {score},\n  \"presupuesto\": {budget},\n  \"project\": \"{project}\",\n  \"source\": \"telegram\",\n  \"campaign\": \"Telegram Bot MVP\",\n  \"notas\": \"{notas}\",\n  \"telegram_user_id\": {tg_user_id},\n  \"organization_id\": \"00000000-0000-0000-0000-000000000001\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "name", "description": "Nombre del cliente", "type": "string" },
            { "name": "phone", "description": "Teléfono", "type": "string" },
            { "name": "score", "description": "Score 0-100", "type": "number" },
            { "name": "budget", "description": "Presupuesto USD número (0 si no se sabe)", "type": "number" },
            { "name": "project", "description": "Proyecto de interés", "type": "string" },
            { "name": "notas", "description": "Resumen de la conversación", "type": "string" },
            { "name": "tg_user_id", "description": "ID Telegram del cliente", "type": "number" }
          ]
        }
      },
      "id": "tool-create",
      "name": "Tool: create_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1260, 480]
    },
    {
      "parameters": {
        "name": "update_lead",
        "description": "Actualiza un lead existente. Úsalo cuando ya HAY lead. Pasa solo los campos que cambian.",
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{lead_id}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"{stage}\",\n  \"score\": {score},\n  \"presupuesto\": {budget},\n  \"project\": \"{project}\",\n  \"last_activity\": \"{last_activity}\",\n  \"hot\": {hot}\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "lead_id", "description": "UUID del lead", "type": "string" },
            { "name": "stage", "description": "Etapa nueva", "type": "string" },
            { "name": "score", "description": "Score nuevo", "type": "number" },
            { "name": "budget", "description": "Presupuesto USD", "type": "number" },
            { "name": "project", "description": "Proyecto", "type": "string" },
            { "name": "last_activity", "description": "Resumen de esta interacción", "type": "string" },
            { "name": "hot", "description": "true si score >= 70", "type": "boolean" }
          ]
        }
      },
      "id": "tool-update",
      "name": "Tool: update_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1420, 480]
    },
    {
      "parameters": {
        "chatId": "={{ $('Context').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "reply",
      "name": "Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1260, 300],
      "credentials": {
        "telegramApi": { "id": "telegram-creds", "name": "Stratos Bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Context", "type": "main", "index": 0 }]] },
    "Context": { "main": [[{ "node": "Lookup lead", "type": "main", "index": 0 }]] },
    "Lookup lead": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Claude Sonnet 4.5": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Tool: create_lead": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Tool: update_lead": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCreatedBy": "Stratos AI MVP — 30 min setup" }
}
