n8n/workflows/stratos-telegram-bot-v2.json
{
  "name": "Stratos AI — Telegram CRM Bot v2",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Stratos Bot Token"
        }
      },
      "webhookId": "stratos-telegram-bot-v2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "voice",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice ? 'voice' : ($json.message.photo ? 'photo' : 'text') }}",
                    "rightValue": "photo",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "text" }
      },
      "id": "switch-message-type",
      "name": "Switch by message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "telegram-get-voice",
      "name": "Download voice file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 200],
      "credentials": {
        "telegramApi": { "id": "telegram-bot-creds", "name": "Stratos Bot Token" }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "es" }
      },
      "id": "openai-whisper",
      "name": "Whisper transcribe (es)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [920, 200],
      "credentials": {
        "openAiApi": { "id": "openai-creds", "name": "OpenAI Stratos" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "user_message",
              "value": "={{ $json.text || $json.message?.text || '[mensaje vacío]' }}",
              "type": "string"
            },
            {
              "id": "chat",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "tg_user",
              "name": "telegram_user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "name",
              "name": "user_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name + ' ' + ($('Telegram Trigger').item.json.message.from.last_name || '') }}",
              "type": "string"
            },
            {
              "id": "username",
              "name": "telegram_username",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username || '' }}",
              "type": "string"
            },
            {
              "id": "type",
              "name": "message_type",
              "value": "={{ $('Telegram Trigger').item.json.message.voice ? 'voice' : ($('Telegram Trigger').item.json.message.photo ? 'photo' : 'text') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-context",
      "name": "Normalize context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,name,stage,score,asesor_name,notas,telegram_user_id,asesor_id,organization_id" },
            { "name": "telegram_user_id", "value": "=eq.{{ $json.telegram_user_id }}" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "lookup-lead",
      "name": "Lookup existing lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del cliente en Telegram:\n\"{{ $('Normalize context').item.json.user_message }}\"\n\nContexto:\n- Telegram user: {{ $('Normalize context').item.json.user_name }} (@{{ $('Normalize context').item.json.telegram_username }})\n- Telegram user ID: {{ $('Normalize context').item.json.telegram_user_id }}\n- Tipo: {{ $('Normalize context').item.json.message_type }}\n- Lead existente: {{ $json.length > 0 ? JSON.stringify($json[0]) : 'NO — primer contacto' }}\n\nDecide qué hacer y ejecuta las herramientas necesarias. Luego responde al cliente.",
        "options": {
          "systemMessage": "=Eres el asistente de Stratos Capital Group, un CRM inmobiliario. Tu trabajo es:\n\n1. CONVERSAR NATURAL — no hagas preguntas en lista, mantén el flujo humano.\n2. EXTRAER datos del cliente: nombre, teléfono, email, proyecto de interés, presupuesto, urgencia.\n3. CALIFICAR (score 0-100):\n   • Mencionó presupuesto específico: +30\n   • Pidió agendar visita/Zoom: +25\n   • Habla en presente \"estoy buscando\": +15\n   • Específico (zona, m², tipo): +15\n   • Frases vagas \"tal vez\", \"después te aviso\": -10\n   • Pidió hablar con humano: marcar para escalación\n4. PERSISTIR todo en el CRM Stratos (Supabase) usando las herramientas.\n5. ESCALAR a humano cuando:\n   • Cliente lo pide directamente\n   • Score >= 70 (lead caliente)\n   • Pregunta legal/financiera compleja\n   • Frustrado (lenguaje negativo)\n\nHerramientas disponibles:\n- create_lead: crea un nuevo lead en el CRM\n- update_lead: actualiza un lead existente (por id)\n- add_note_to_lead: agrega una nota al expediente del lead\n- notify_asesor: envía alerta a un asesor en su chat de Telegram\n\nPROYECTOS ACTIVOS:\n- Bay View Grand (Cancún)\n- Riviera Maya (Tulum)\n- Costa Mujeres (Cancún)\n\nETAPAS DEL PIPELINE: Nuevo Registro, Primer Contacto, Seguimiento, Zoom Agendado, Zoom Concretado, Visita Agendada, Visita Concretada, Negociación, Cierre, Perdido.\n\nRESPONDE SIEMPRE EN ESPAÑOL con tono profesional pero cálido. Usa emojis con moderación (1 por mensaje máximo). No inventes precios — si te preguntan, responde que un asesor te contactará con la información actualizada."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (Claude/GPT)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "claude-sonnet-4-5", "mode": "list" },
        "options": { "temperature": 0.3, "maxTokensToSample": 1024 }
      },
      "id": "anthropic-model",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1660, 480],
      "credentials": {
        "anthropicApi": { "id": "anthropic-creds", "name": "Anthropic Stratos" }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize context').item.json.telegram_user_id }}",
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1820, 480]
    },
    {
      "parameters": {
        "name": "create_lead",
        "description": "Crea un lead nuevo en el CRM Stratos. Úsalo cuando es el primer contacto y NO hay lead previo. El telegram_user_id se usa para identificar al cliente en futuras conversaciones.",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{name}\",\n  \"phone\": \"{phone}\",\n  \"email\": \"{email}\",\n  \"stage\": \"{stage}\",\n  \"score\": {score},\n  \"presupuesto\": {budget},\n  \"project\": \"{project}\",\n  \"campaign\": \"{campaign}\",\n  \"source\": \"telegram\",\n  \"next_action\": \"{next_action}\",\n  \"next_action_date\": \"{next_action_date}\",\n  \"notas\": \"{notas}\",\n  \"telegram_user_id\": {telegram_user_id},\n  \"organization_id\": \"00000000-0000-0000-0000-000000000001\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "name", "description": "Nombre completo del cliente", "type": "string" },
            { "name": "phone", "description": "Teléfono del cliente (formato libre)", "type": "string" },
            { "name": "email", "description": "Email del cliente", "type": "string" },
            { "name": "stage", "description": "Etapa inicial: 'Nuevo Registro' o 'Primer Contacto'", "type": "string" },
            { "name": "score", "description": "Score 0-100 según las reglas del system prompt", "type": "number" },
            { "name": "budget", "description": "Presupuesto en USD (número entero)", "type": "number" },
            { "name": "project", "description": "Proyecto de interés (Bay View Grand, Tulum, etc.)", "type": "string" },
            { "name": "campaign", "description": "Campaña que generó el lead (ej: 'Telegram Bot')", "type": "string" },
            { "name": "next_action", "description": "Próxima acción que el asesor debe hacer", "type": "string" },
            { "name": "next_action_date", "description": "Cuándo (ej: 'Mañana 10am', 'Hoy')", "type": "string" },
            { "name": "notas", "description": "Resumen de la conversación + datos importantes", "type": "string" },
            { "name": "telegram_user_id", "description": "ID de Telegram del usuario", "type": "number" }
          ]
        }
      },
      "id": "tool-create-lead",
      "name": "Tool: create_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2080, 480]
    },
    {
      "parameters": {
        "name": "update_lead",
        "description": "Actualiza un lead existente. Úsalo cuando ya hay un lead (ver contexto). Pasa solo los campos que quieres cambiar.",
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{lead_id}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"{stage}\",\n  \"score\": {score},\n  \"next_action\": \"{next_action}\",\n  \"next_action_date\": \"{next_action_date}\",\n  \"last_activity\": \"{last_activity}\",\n  \"hot\": {hot}\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "lead_id", "description": "UUID del lead a actualizar", "type": "string" },
            { "name": "stage", "description": "Nueva etapa", "type": "string" },
            { "name": "score", "description": "Nuevo score 0-100", "type": "number" },
            { "name": "next_action", "description": "Próxima acción", "type": "string" },
            { "name": "next_action_date", "description": "Cuándo", "type": "string" },
            { "name": "last_activity", "description": "Resumen de esta interacción", "type": "string" },
            { "name": "hot", "description": "true si es hot lead (score >= 70)", "type": "boolean" }
          ]
        }
      },
      "id": "tool-update-lead",
      "name": "Tool: update_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2240, 480]
    },
    {
      "parameters": {
        "name": "add_note_to_lead",
        "description": "Agrega una nota al expediente del lead. Útil cuando el cliente comparte info importante (preferencias, restricciones, comentarios). La nota se concatena a las existentes con timestamp.",
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/append_lead_note",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_lead_id\": \"{lead_id}\",\n  \"p_note\": \"{note}\",\n  \"p_source\": \"telegram_bot\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "lead_id", "description": "UUID del lead", "type": "string" },
            { "name": "note", "description": "Texto de la nota", "type": "string" }
          ]
        }
      },
      "id": "tool-add-note",
      "name": "Tool: add_note_to_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2400, 480]
    },
    {
      "parameters": {
        "name": "notify_asesor",
        "description": "Envía alerta al asesor en su chat de Telegram. Úsalo cuando el lead es hot (score >= 70), pide humano, o tiene una pregunta urgente. Pasa el resumen de qué pasa y qué quiere el cliente.",
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{asesor_chat_id}\",\n  \"text\": \"🔥 *Lead caliente que necesita tu atención*\\n\\n👤 *Cliente:* {client_name}\\n📞 *Tel:* {client_phone}\\n💰 *Presupuesto:* {budget}\\n🏗️ *Proyecto:* {project}\\n⭐ *Score:* {score}/100\\n\\n📝 *Razón:*\\n{summary}\\n\\n💬 *Última frase del cliente:*\\n_{last_message}_\\n\\n[Abrir en CRM](https://app.stratoscapitalgroup.com)\",\n  \"parse_mode\": \"Markdown\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "asesor_chat_id", "description": "Chat ID del asesor en Telegram (entero)", "type": "string" },
            { "name": "client_name", "description": "Nombre del cliente", "type": "string" },
            { "name": "client_phone", "description": "Teléfono del cliente", "type": "string" },
            { "name": "budget", "description": "Presupuesto formateado (ej: '$500K USD')", "type": "string" },
            { "name": "project", "description": "Proyecto de interés", "type": "string" },
            { "name": "score", "description": "Score actual del lead", "type": "number" },
            { "name": "summary", "description": "Razón por la que hay que atenderlo (1-2 frases)", "type": "string" },
            { "name": "last_message", "description": "Última frase textual del cliente", "type": "string" }
          ]
        }
      },
      "id": "tool-notify-asesor",
      "name": "Tool: notify_asesor",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2560, 480]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize context').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-telegram-response",
      "name": "Reply to user",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2080, 300],
      "credentials": {
        "telegramApi": { "id": "telegram-bot-creds", "name": "Stratos Bot Token" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Switch by message type", "type": "main", "index": 0 }]]
    },
    "Switch by message type": {
      "main": [
        [{ "node": "Download voice file", "type": "main", "index": 0 }],
        [{ "node": "Normalize context", "type": "main", "index": 0 }],
        [{ "node": "Normalize context", "type": "main", "index": 0 }]
      ]
    },
    "Download voice file": {
      "main": [[{ "node": "Whisper transcribe (es)", "type": "main", "index": 0 }]]
    },
    "Whisper transcribe (es)": {
      "main": [[{ "node": "Normalize context", "type": "main", "index": 0 }]]
    },
    "Normalize context": {
      "main": [[{ "node": "Lookup existing lead", "type": "main", "index": 0 }]]
    },
    "Lookup existing lead": {
      "main": [[{ "node": "AI Agent (Claude/GPT)", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Conversation Memory": {
      "ai_memory": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_memory", "index": 0 }]]
    },
    "Tool: create_lead": {
      "ai_tool": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: update_lead": {
      "ai_tool": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: add_note_to_lead": {
      "ai_tool": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: notify_asesor": {
      "ai_tool": [[{ "node": "AI Agent (Claude/GPT)", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent (Claude/GPT)": {
      "main": [[{ "node": "Reply to user", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "instanceId": "stratos",
    "templateCreatedBy": "Claude — Stratos AI session"
  }
}
